html {
    scroll-behavior: smooth;
}

.img-galery {
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 30px;
    width: 100%;
    height: 400px;
    background: rgba(251, 188, 62, 0.5);
}
.intro{
    display: flex;
}

.title {
    margin-top: 60px;
    margin-bottom: 60px;
    height: 100%;
    text-align: center;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 24px;
    color: #151D53;
}

/* 
.carousel slide{
    margin-top: 5%;
    margin-bottom: 30px;
    width: 100%;
    height: 400px;
    background: rgba(251, 188, 62, 0.5); 
} */



.slide {
    display: flex;
    justify-content: center;
    /* margin-bottom: 30px; */
    width: 100%;
    height: 100%;
    background: rgba(251, 188, 62, 0.5);
}

.backr {
    position:absolute;
    z-index: -10000;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

/* .carousel-item{
    width: 350PX;
    height: 350px;
} */

.slide img {
    width: 350PX;
    height: 350px;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    /* margin-left: 50%; */
    /* background: url(pexels-rfstudio-3819712.jpg); */
    opacity: 0.8;
}


.carousel-item active{
    display:flex;
}
.carousel-item img{
    width: 27.70%;
    /* height: 82.20%; */
}

.titleprod {
    /* position: absolute;
    left: 41.57%;
    right: 37.08%;
    top: 26.94%;
    bottom: 66.42%; */
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 22px;
    /* or 54% */

    text-align: center;

    color: #0C0C0C;
}
.titledesc {
    /* position: absolute;
    left: 42.92%;
    right: 22.57%;
    top: 37.82%;
    bottom: 48.89%; */
    margin:2% 0%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    color: #0C0C0C;
}

.titleprice {
    /* position: absolute;
    left: 41.82%;
    right: 50%;
    top: 55.9%;
    bottom: 39.11%; */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height, or 120% */

    text-align: center;
    text-transform: uppercase;

    color: #FBB534;

}
.titlebtn {
    /* box-sizing: border-box;
    position: absolute;
    left: 41.82%;
    right: 50%;
    top: 55.9%;
    bottom: 39.11%;
    
    position: relative;
    left: -5%;
    right: 50%;
    top: 100px;
    bottom: 39.11%; */

    margin: 5%  44%;
    /* align-items: center; */
    
    /* text-align: center; */
    width: 140px;
    height: 50;
    background-color: #0C0C0C;
    border: 1px solid #0D0806;
    border-radius: 0px;
    margin-top: 20px;

}

/* .carousel-item a{
    margin: 20px;
    color: #151D53;
    opacity: 0.8;
} */

.doubl {
    background: transparent;
    position: absolute;
}

.slthhh {
    position: absolute;
    height: 350px;
    width: 400px;
    top: 150px;
    left: 100px;
}

.slthhh img {
    box-shadow: 4px 5px 11px rgba(233, 156, 46, 0.2);
}

.galtitle {
    /* position: absolute; */
    /* width: 43.3813%; */
    /* height: 5.1473%; */
    /* left: 60.95%;
    top: 40%; */
    z-index: 1000;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 24px;
    color: #000000;
}

.btnlets {
        /* position: absolute;
        z-index: 100;
        width: 140px;
        height: 50;
        position: relative;
        left: 62%;
        right: 40%;
        top: 300px;
        bottom: 39.11%; */

    z-index: 9999;
    width: 140px;
    height: 50;
    background-color: #FBC44B;
    border: none;
    border-radius: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.titlebtn:hover {
    background-color: transparent;
    color: #000000;
}

.titlebtn span {
    font-size: 10px;
    text-align: centerx;
    margin-top: -10px;
}

/* .img-galery{
    padding: 10%;
} */

.img-galery img {
    
    width: 400px;
    height: 350px;
    margin: 10px 0;
    margin-left: 15px;
    /* background: url(pexels-rfstudio-3819712.jpg); */
    opacity: 0.7;
}

.C_img svg{
    width: 100%;
    height: 400px;
}

.C_form {
    margin-top: 5%;
    margin-left: 3%;
    display: flex;
    width: 50%;
    background: #FDFDFF;
    padding: 4%;
    box-shadow: 4px 6px 46px -1px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

.C_contact {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 5%;
}

.C_contact .C_contact_header h2 {
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    text-transform: capitalize;
}

.C_form input {
    width: 100%;
    margin: 3%;
    background: #FFFFFF;
    box-shadow: 4px 4px 11px rgba(233, 156, 46, 0.2);
    border: none;
    height: 60px;
}

.C_contact .C_contact_header {
    margin-left: 10%;
    margin-top: 8%;
}

.C_contact .C_contact_header p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    /* identical to box height, or 133% */

    text-align: center;
    text-transform: capitalize;
    color: #A09E9C;
    margin-top: 20%;
    margin-bottom: 20%;
}

.content{
    /* background-image: url(/images/hero-bg.png) ; */
    display: flex;
    /* justify-content:space-evenly; */
    gap: 200px;
    align-items: center;
    height: 95vh;
    /* margin-top: 10px; */


}
.content .item-child img {
    width: 400px;
    height: 350px;
    margin: 0 150px;
    opacity: 0.8;
}
.content .item-childTow{
    /* width: 50%; */
}

.btne {
    padding: 6px 26px;
    border:none;
    color: white;
    width: 100%;
    background-color: #E99C2E;
    /* width: max-content; */
    /* margin-left: 40%; */
    margin-top: 5%;
}
.btne:hover{
    background-color:#151D53;
}


.contacte {
    margin: 6.33% 4.64%;
    font-family: 'Poppins';
    font-style: normal;
    /* font-weight: 400; */
    font-size: 30px;
    /* line-height: 10px; */
    /* display: flex; */
    align-items: center;
    letter-spacing: 0.02em;
}
.contacte p a{
    text-decoration: none;
}

.contacte p a:hover{
    text-decoration: none;
    color: #FBBC3E;
}

@media (max-width: 360px) {}

@media (min-width:900px) {
   
    .titleprod {
        width: 100%;
        position: absolute;
        left: 2%;
        right: 37.08%;
        top: 20%;
        /* bottom: 66.42%; */
    }
    .titledesc {
        position: absolute;
        left: 42.92%;
        right: 22.57%;
        top: 30%;
        /* bottom: 48.89%; */
    }
    
    .titleprice {
        position: absolute;
        left: 41.82%;
        right: 50%;
        top: 63%;
        
        /* bottom: 40%; */
    }
    .titlebtn {
        position: absolute;
        left: -1%;
        /* right: 0%; */
        top: 70%;
    }
    

}

@media (max-width: 952px) {
    * {
        padding-left: 0px;
        font-size: 16px;
    }

    .content{
        flex-direction: column;
    } 
    .title{
        font-size: 30px;
    }
    .d-block {
        margin-left: 10%;
    }
    .titledesc {
        margin:2% 10%;
    }
    .carousel-item active{
        flex-direction: column;
        /* bottom: 66.42%; */
    }
    h1{
        height: 100%;
    }
    .galtitle{
        margin-top: -70px;
    }
    .img-galery {
        flex-direction: column;
        margin: 0;
        margin-top: 5%;
        margin-bottom: -30px;
        width: 100%;
        height: 1500px;
        background: rgba(251, 188, 62, 0.5);
    }
    .img-galery img{
        width: 400px;
    }
    .carousel-item img{
        width: 300px;
        height: 300px;
        margin: 8% 20%;
        opacity: 0.7;
    }
    .titlebtn {
        margin: 5%  38%;
    }
    .content .item-child img {
        margin-top: 50px;
    }
    .C_img svg{
        height: 500px;
        align-items: center;
    }

    .contacte {
        /* font-weight: 400; */
        font-size: 30px;
        /* line-height: 10px; */
        /* display: flex; */
        align-items: center;
        letter-spacing: 0.02em;
    }

    .C_contact{
        display: flex;
        flex-direction: column;
    }
    .C_form{
        width: 100%;
    }
    .C_form input{
        width: 90%;
    }
}